/* Hide Streamlit Branding */
footer {visibility: hidden;}
header {visibility: hidden;}

/* Adjust Padding */
.st-emotion-cache-16txtl3 {
    padding: 1rem 1rem;
}

.st-emotion-cache-z5fcl4 {
    padding: 2rem 1rem 10rem;
}
